<div class="col-2 pl-2">
    <img [src]="product.imageUrl" [alt]="product.description" *ngIf="showImage" [title]="product.description | uppercase">
</div>
<div class="col-4">
    <a [routerLink]="['/products', product.id]">{{ product.description }}</a></div>
<div class="col">{{ product.price | currency:'EUR':'symbol' }}</div>
<div class="col">{{ product.available | date:'dd/MM/y'}}</div>
<div class="col">
    <app-star-rating 
            [rating]="product.rating"
            (ratingChanged)="changeRating($event)">
    </app-star-rating>
</div>
