<nav class="navbar navbar-expand navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" 
         [routerLink]="['/welcome']"
         [routerLinkActive]="['active']">Welcome</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
         [routerLink]="['/products']"
         [routerLinkActive]="['active']">Products</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
