.headers {
    font-weight: bold;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    padding: 5px;
    margin-bottom: 5px;
}

app-product-item:nth-child(odd) {
    background: #EEE;
}